.masonry-item {
  cursor: pointer;
  margin-bottom: 1rem;
  break-inside: avoid;
  display: inline-block;
  position: relative;
  width: 100%;
}

.masonry-item img {
  width: 100%;
  height: auto;
  display: block;
}