@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(242, 242, 242);
  --footer-padding: 72px;
  --foreground-color: black;
  --input-background-color: rgb(249, 250, 251);
  --input-text-color: rgb(17, 24, 39);
  --primary-color: rgb(20, 184, 166);
}

@media (min-width: 640px) {
  :root {
    --footer-padding: 8px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --input-background-color: rgb(55, 65, 81);
    --input-text-color: black;
    --foreground-color: white;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

html {
  scroll-padding-top: 52px;
}

@layer components {
  .col {
    @apply flex flex-col gap-2
  }

  .row {
    @apply flex flex-row gap-2 items-center
  }
}

@layer utilities {
  .bg-input {
    background-color: var(--input-background-color);
  }

  .text-input-color {
    color: var(--input-text-color);
  }

  .primary-color {
    color: var(--primary-color);
  }

  .text-balance {
    text-wrap: balance;
  }
}