@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: rgb(242, 242, 242);
  --foreground-color: black;
  --input-color: rgb(249, 250, 251);
  --primary-color: rgb(20, 184, 166);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --input-color: rgb(55, 65, 81);
    --foreground-color: white;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer components {
  .col {
    @apply flex flex-col gap-2
  }

  .row {
    @apply flex flex-row gap-2 items-center
  }
}

@layer utilities {
  .bg-input {
    background-color: var(--input-color);
  }

  .primary-color {
    color: var(--primary-color);
  }

  .text-balance {
    text-wrap: balance;
  }
}