@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: black;
  --background-color: rgb(242, 242, 242);
  --primary-color: rgb(20, 184, 166);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: white;
    --background-color: #242424;
  }
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
}

@layer components {
  .col {
    @apply flex flex-col gap-2
  }

  .row {
    @apply flex flex-row gap-2 items-center
  }
}

@layer utilities {
  .primary-color {
    color: var(--primary-color);
  }

  .text-balance {
    text-wrap: balance;
  }
}